@model IEnumerable<WebProveedores.Models.Data.Producto>

@{
    ViewData["Title"] = "Products";
}

<h1>Productos del Proveedor: @ViewData["ProveedorCodigos"]  </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
        </tr>
}
    </tbody>
</table>
